<!--div class="fnpc-dialog-headline">Spieler hinzufügen</div>
<mat-dialog-content>
  <div class="fnpc-profile" (click)='insertPlayer(player.id)' *ngFor="let player of players | async">
    <div class="fnpc-profile-avatar">
      <img src="../../assets/images/home-black.svg">
    </div>
    <div class="fnpc-profile-head">
      <strong>{{player.data.name}}</strong>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">OK</button>
</mat-dialog-actions-->


<div class="fnpc-dialog-headline">Spieler zu Spieltag hinzufügen</div>
<div class="fnpc-dialog-content">
  <div [ngClass]="{'fnpc-profile': true, 'oddRow': (i %2 !=0)}" (click)='insertPlayer(player.id)' *ngFor="let player of players | async; let i = index">
    <div class="fnpc-profile-head">
      <strong>{{player.data.name}}</strong>
    </div>
  </div>
</div>

<div class="fnpc-menu-bottom">
  <a class="fnpc-menu-item" (click)="globalVars.closeDialog()"><img src="../../assets/images/check-white.svg"></a>
</div>




