<div class="fnpc-dialog-headline">Spieler zu Spieltag hinzufügen</div>
<div class="fnpc-dialog-content">
  <div [ngClass]="{'fnpc-userDialog-row': true, 'oddRow': (i %2 !=0), 'active': player.data.name == selectedPlayer, 'active': player.hasScore}" (click)='insertPlayer(player.id)' *ngFor="let player of players | async; let i = index">
    <strong>{{player.data.name}}</strong>


  </div>
</div>

<div class="fnpc-menu-bottom">
  <a class="fnpc-menu-item" (click)="globalVars.closeDialog()"><img src="../../assets/images/check-white.svg"></a>
</div>




