<div class="fnpc-headline">
  <div class="fnpc-headline-item-left" (click)="previousYear()"><img src="../../assets/images/carat-l-white.svg"></div>
  <div *ngIf="showOverAllScoreTable" class="fnpc-headline-item-middle">All Time Rangliste</div>
  <div *ngIf="!showOverAllScoreTable" class="fnpc-headline-item-middle">Rangliste {{globalVars.currentYear}}</div>
  <div class="fnpc-headline-item-right"(click)="nextYear()"><img src="../../assets/images/carat-r-white.svg"></div>
</div>

<div class="fnpc-content" >
  <!--div *ngIf="resultsInit == true"-->
  <div *ngFor="let player of globalVars.matchdayResultsObservable | async; let i = index">
    <div *ngIf="(player.participations > 0) && (player.relevantForTotalScore || globalVars.showAllPlayers)" [ngClass]="{'fnpc-profile': true, 'active': player.id == globalVars.selectedPlayer, 'oddRow': ((player.overAllRank -1) % 2 != 0 && globalVars.showAllPlayers) || ((player.realRank -1) %2 !=0 && !globalVars.showAllPlayers)}" (click)="globalVars.setSelection( player.id, '' )" >
      <div class="fnpc-profile-avatar">
        <img src="../../assets/avatar/{{player.avatar}}">
      </div>
      <div class="fnpc-profile-head">
        <strong *ngIf="globalVars.showAllPlayers">#{{player.overAllRank}} {{player.name}}</strong>
        <strong *ngIf="!globalVars.showAllPlayers">#{{player.realRank}} {{player.name}}</strong>
        <span class="fnpc-pull-right"><strong>{{player.totalscore}} €</strong></span>
      </div>
      <div *ngIf="!showOverAllScoreTable" class="fnpc-profile-rebuy">Einsatz: {{player.totalbuyin}} € | Teilnahmen: {{player.participations}} von {{globalVars.matchdayCount}}</div>
      <div *ngIf="showOverAllScoreTable" class="fnpc-profile-rebuy">Einsatz: {{player.totalbuyin}} €</div>
    </div>
  </div>
  <!--/-->
</div>
<div class="fnpc-menu-bottom">
  <a class="fnpc-menu-item" mat-button (click)="openUserDialog()"><img src="../../assets/images/plus-white.svg"></a>
  <a class="fnpc-menu-item" mat-button (click)="openDatepicker()"><img src="../../assets/images/calendar-white.svg"></a>
  <a class="fnpc-menu-item" mat-button (click)="openPlayerInfoDialog()"><img src="../../assets/images/info-white.svg"></a>
  <a class="fnpc-menu-item" (click)="globalVars.toggleshowAllPlayersFlag()" [ngClass]="{'lineThrough': !globalVars.showAllPlayers}">Alle</a>
  <input type="hidden" [matDatepicker]="picker" [(ngModel)]="matchdayDate" (dateChange)="onDateChange($event)">
</div>
<mat-datepicker touchUi="true" #picker></mat-datepicker>
