<div class="fnpc-headline">
  <div class="fnpc-headline-item-left" (click)="previousYear()"><img src="../../assets/images/carat-l-white.svg"></div>
  <div class="fnpc-headline-item-middle">Rangliste {{globalVars.currentYear}}</div>
  <div class="fnpc-headline-item-right"(click)="nextYear()"><img src="../../assets/images/carat-r-white.svg"></div>
</div>

<div class="fnpc-content" >
  <!--div *ngIf="resultsInit == true"-->
  <div *ngFor="let player of players | async; let i = index">
    <div *ngIf="(player.data.participations > 0) && (player.data.relevantForTotalScore || globalVars.showAllPlayers)" [ngClass]="{'fnpc-profile': true, 'active': player.id == globalVars.selectedPlayer, 'oddRow': ((player.data.overAllRank -1) % 2 != 0 && globalVars.showAllPlayers) || ((player.data.realRank -1) %2 !=0 && !globalVars.showAllPlayers)}" (click)="setPlayer( player.id )" >
      <div class="fnpc-profile-avatar">
        <!--img src="../../assets/images/home-black.svg"-->
        <img src="../../assets/avatar/{{player.data.name | lowercase}}.jpg">
      </div>
      <div class="fnpc-profile-head">
        <strong *ngIf="globalVars.showAllPlayers">#{{player.data.overAllRank}} {{player.data.name}}</strong>
        <strong *ngIf="!globalVars.showAllPlayers">#{{player.data.realRank}} {{player.data.name}}</strong>
        <span class="fnpc-pull-right"><strong>{{player.data.totalscore}} €</strong></span>
      </div>
      <div class="fnpc-profile-rebuy">Einsatz: {{player.data.totalbuyin}} € | Teilnahmen: {{player.data.participations}}</div>
    </div>
  </div>
  <!--/-->
</div>
<div class="fnpc-menu-bottom">
  <a class="fnpc-menu-item" mat-button (click)="openDialog()"><img src="../../assets/images/plus-white.svg"></a>
  <a class="fnpc-menu-item" mat-button (click)="openDatepicker()"><img src="../../assets/images/calendar-white.svg"></a>
  <!--a class="fnpc-menu-item"><img src="../../assets/images/bars-white.svg"></a-->
  <a class="fnpc-menu-item" (click)="showAllPlayers()" [ngClass]="{'lineThrough': !globalVars.showAllPlayers}">Alle</a>
  <input type="hidden" [matDatepicker]="picker" [(ngModel)]="matchdayDate" (dateChange)="onDateChange($event)">
</div>
<mat-datepicker touchUi="true" #picker></mat-datepicker>
