<div class="fnpc-dialog-headline">Spieler Details</div>
<div class="fnpc-dialog-content">

      <div class="fnpc-table">
        <div class="fnpc-table-row">
          <div class="fnpc-table-cell">Wann</div>
          <div class="fnpc-table-cell">Wo</div>
          <div class="fnpc-table-cell">BuyIn</div>
          <div class="fnpc-table-cell">Chips</div>
          <div class="fnpc-table-cell">Ergebnis</div>
        </div>
        <div [ngClass]="{'fnpc-table-row': true, 'oddRow':(i %2 !=0)}" *ngFor="let score of scores | async; let i = index">
          <div class="fnpc-table-cell">#{{i + 1}} {{score.data.matchdayDate | date: 'dd.MM.yyyy'}}</div>
          <div class="fnpc-table-cell"></div>
          <div class="fnpc-table-cell">{{score.data.buyin}}</div>
          <div class="fnpc-table-cell">{{score.data.chips}}</div>
          <div class="fnpc-table-cell">{{score.data.totalscore}}</div>

        </div>
      </div>

</div>

<div class="fnpc-menu-bottom">
  <a class="fnpc-menu-item" (click)="globalVars.closeDialog()"><img src="../../assets/images/check-white.svg"></a>
</div>



