.playerinfo-head{
  margin: unset !important;
  width: 100% !important;
  background-color: #eeeeee;
  height:5%;
}
.playerinfo-date{
width: 26% !important;
vertical-align:middle;
}
.playerinfo-venue{
width: 20% !important;
vertical-align:middle;
}
.playerinfo-buyin{
width: 18% !important;
vertical-align:middle;
}
.playerinfo-chips{
width: 18% !important;
vertical-align:middle;
}
.playerinfo-result{
width: 18% !important;
vertical-align:middle;
}
.playerinfo-content{
  height: 81% !important;
}
.playerinfo-table{
  margin: unset !important;
}