<div class="fnpc-headline" *ngIf="globalVars.dataInitialized">
  <div class="fnpc-headline-item-left" (click)="getPreviousMatchday()"><img src="../../assets/images/carat-l-white.svg"></div>
  <div class="fnpc-headline-item-middle">Bei {{globalVars.venue}} am {{globalVars.date}}</div>
  <div class="fnpc-headline-item-right" (click)="getNextMatchday()"><img src="../../assets/images/carat-r-white.svg"></div>
</div>
<div class="fnpc-content" *ngIf="globalVars.dataInitialized" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <div [ngClass]="{'fnpc-profile': true, 'active': score.data.player == globalVars.selectedPlayer, 'oddRow':(i %2 !=0)}" *ngFor="let score of globalVars.currentMatchdayResultsObservable | async; let i = index" (click)="globalVars.setSelection( score.data.player, score.id )">

    <div class="fnpc-profile-avatar">
      <img src="../../assets/avatar/{{score.avatar}}">
    </div>
    <div class="fnpc-profile-head">
      <strong>#{{i + 1}} {{score.playername}}</strong>
      <span class="fnpc-pull-right"><strong>{{score.data.totalscore}}€</strong></span>
    </div>
    <div class="fnpc-profile-rebuy">BuyIn: {{score.data.buyin}} € | Chips: {{score.data.chips}} € </div>
  </div>
</div>


<div class="fnpc-menu-bottom" *ngIf="globalVars.dataInitialized">
  <a class="fnpc-menu-item" mat-button (click)="openScoreDialog()"><img src="../../assets/images/recycle-white.svg"></a>
  <a class="fnpc-menu-item" mat-button (click)="openNewUserDialog()"><img src="../../assets/images/plus-white.svg"></a>
  <a class="fnpc-menu-item" mat-button (click)="openMatchdayDialog()"><img src="../../assets/images/info-white.svg"></a>
  <a class="fnpc-menu-item" mat-button (click)="openArticleDialog()"><img src="../../assets/images/edit-white.svg"></a>
  <!--a class="fnpc-menu-item" mat-button (click)="openMatchdayDialog()" ><img src="../../assets/images/star-white.svg"></a-->
  <!--a class="fnpc-menu-item"><img src="../../assets/images/mail-white.svg"></a-->
</div>
