<div class="fnpc-dialog-headline">Server-Tools</div>
<div class="fnpc-dialog-content">
  <div class="fnpc-table">
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Backup Database</div>
      <div class="fnpc-table-cell"><button (click)="doBackup()">Backup</button></div>
    </div>
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Import</div>
      <div class="fnpc-table-cell"><button (click)="doImport()">Import</button></div>
    </div>
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Import</div>
      <div class="fnpc-table-cell"><button (click)="doImportFirestoreData()">Import Firestore Backup</button></div>
    </div>
  </div>
</div>

<div class="fnpc-menu-bottom">

</div>



