<div class="fnpc-dialog-headline">Server-Tools</div>
<div class="fnpc-dialog-content">
  <div class="fnpc-table">
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Backup Database</div>
      <div class="fnpc-table-cell"><button (click)="doBackup()">Backup</button></div>
    </div>
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Import</div>
      <div class="fnpc-table-cell">
        <button (click)="doImportFirestoreData()">Import Firestore backup</button>
      </div>
    </div>
    <!--div class="fnpc-table-row">
      <div class="fnpc-table-cell">Import</div>
      <div class="fnpc-table-cell"><button (click)="setPlayersMap()">Set players map</button><button (click)="importPlayers()">import</button></div>
    </div-->
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Import</div>
      <div class="fnpc-table-cell"><button (click)="setMatchdaysMap()">Set matchdays map</button><!--button (click)="importMatchdays()">import</button--></div>
    </div>
    <!--div class="fnpc-table-row">
      <div class="fnpc-table-cell">Import</div>
      <div class="fnpc-table-cell"><button (click)="setScoresMap()">Set scores map</button><button (click)="importScores()">import</button></div>
    </div>
    <div-- class="fnpc-table-row">
      <div class="fnpc-table-cell">Import</div>
      <div class="fnpc-table-cell"><button (click)="setArticlesMap()">Set articles map</button></div>
    </div-->
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">getDataCount</div>
      <div class="fnpc-table-cell"><button (click)="getDataCount()">Count Data</button></div>
    </div>

    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Set Avatar</div>
      <div class="fnpc-table-cell"><button (click)="setAvatars()">Set avatar</button></div>
    </div>
  </div>

  <div class="fnpc-table-row">
    <div class="fnpc-table-cell">Aktuelle Version: </div>
    <div class="fnpc-table-cell">v1.3 (a5c06226046733459b78e655b507941adc3bdf74)</div>
  </div>
</div>
<div class="fnpc-menu-bottom">
</div>






