<div class="fnpc-dialog-headline">{{article.matchdayDate | date: 'dd.MM.yyyy'}} von {{article.player}}</div>
<div class="fnpc-dialog-content">
  <div class="fnpc-textarea-wrap">
    <textarea class="fnpc-textarea" rows="20" [(ngModel)]="articleText"></textarea>
  </div>
</div>

<div class="fnpc-menu-bottom">
  <a *ngIf="globalVars.angemeldet" class="fnpc-menu-item" mat-button (click)="addArticle()">Speichern</a>
  <a *ngIf="globalVars.angemeldet" class="fnpc-menu-item" mat-button (click)="deleteArticle()">Löschen</a>
  <a class="fnpc-menu-item" mat-button (click)="globalVars.closeAllDialogs()">Abbrechen</a>
</div>



