textarea.fnpc-textarea{
  height: 100% !important;
  width: 100% !important;
  border: 2px solid #555;
  box-sizing: border-box;
  padding: 10px;
}

div.fnpc-textarea-wrap{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
