div.fnpc-article-table{
  line-height: 1.5em;
  height:87%;
}

div.fnpc-article-headline{
  
  background-color: #9acd32;
  padding-left: 10px;
  margin-bottom: 20px;
}

div.fnpc-article-content{
  padding: 10px 10px 10px 10px;
}

span.fnpc-article-headline-right{
  float: right !important;
  font-style: italic !important;
}
