<div class="fnpc-headline" *ngIf="globalVars.dataInitialized">
  <div class="fnpc-headline-item-left"></div>
  <div class="fnpc-headline-item-middle">Berichte</div>
  <div class="fnpc-headline-item-right"></div>
</div>
<div class="fnpc-dialog-content" *ngIf="globalVars.dataInitialized">


  <div class="fnpc-article-table">
    <div class="fnpc-article" *ngFor="let article of articles | async; let i = index">
      <div class="fnpc-article-headline">{{article.matchdayDate | date: 'dd.MM.yyyy'}} bei {{article.matchdayVenue}}<span class="fnpc-article-headline-right"> von {{article.player}}</span></div>
      <div class="fnpc-article-content"><pre>{{article.text}}</pre></div>
    </div>
  </div>

</div>
