<div class="fnpc-dialog-headline">Neuen Spieler anlegen</div>
<div class="fnpc-dialog-content">
  <div class="fnpc-table">
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Name</div>
      <div class="fnpc-table-cell"><input cdkFocusInitial [(ngModel)]="userName"/></div>
    </div>
  </div>
</div>

<div class="fnpc-menu-bottom">
  <a *ngIf="globalVars.angemeldet" class="fnpc-menu-item" mat-button (click)="insertPlayer()">Speichern</a>
  <a class="fnpc-menu-item" mat-button (click)="globalVars.closeAllDialogs()">Abbrechen</a>
</div>



