<div class="fnpc-dialog-headline">Spieltag Zusammenfassung</div>
<div class="fnpc-dialog-content">
  <div class="fnpc-table">
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">BuyIn:</div>
      <div class="fnpc-table-cell">{{totalBuyIn}}</div>
    </div>
    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Chips im Umlauf:</div>
      <div class="fnpc-table-cell">{{totalChips}}</div>
    </div>
  </div>
</div>

<div class="fnpc-menu-bottom">
  <a *ngIf="globalVars.angemeldet" class="fnpc-menu-item" mat-button (click)="deleteMatchday()">Löschen</a>
  <a class="fnpc-menu-item" mat-button (click)="globalVars.closeAllDialogs()">Abbrechen</a>
</div>



